/* Effra Light - 300 */
@font-face {
  font-family: 'Effra';
  font-weight: 300;
  font-style: normal;

  src: url('./files/effra-300.woff2') format('woff2'),
    url('./files/effra-300.woff') format('woff');
  font-display: swap;
}

/* Effra Light Italic - 300 */
@font-face {
  font-family: 'Effra';
  font-weight: 300;
  font-style: italic;

  src: url('./files/effra-300italic.woff2') format('woff2'),
    url('./files/effra-300italic.woff') format('woff');
  font-display: swap;
}

/* Effra Regular - 400 */
@font-face {
  font-family: 'Effra';
  font-weight: 400;
  font-style: normal;

  src: url('./files/effra-400.woff2') format('woff2'),
    url('./files/effra-400.woff') format('woff');
  font-display: swap;
}

/* Effra Regular Italic - 400 */
@font-face {
  font-family: 'Effra';
  font-weight: 400;
  font-style: italic;

  src: url('./files/effra-400italic.woff2') format('woff2'),
    url('./files/effra-400italic.woff') format('woff');
  font-display: swap;
}

/* Effra Medium - 500 */
@font-face {
  font-family: 'Effra';
  font-weight: 500;
  font-style: normal;

  src: url('./files/effra-500.woff2') format('woff2'),
    url('./files/effra-500.woff') format('woff');
  font-display: swap;
}

/* Effra Medium Italic - 500 */
@font-face {
  font-family: 'Effra';
  font-weight: 500;
  font-style: italic;

  src: url('./files/effra-500italic.woff2') format('woff2'),
    url('./files/effra-500italic.woff') format('woff');
  font-display: swap;
}

/* Effra Bold - 700 */
@font-face {
  font-family: 'Effra';
  font-weight: 700;
  font-style: normal;

  src: url('./files/effra-700.woff2') format('woff2'),
    url('./files/effra-700.woff') format('woff');
  font-display: swap;
}

/* Effra Bold Italic - 700 */
@font-face {
  font-family: 'Effra';
  font-weight: 700;
  font-style: italic;

  src: url('./files/effra-700italic.woff2') format('woff2'),
    url('./files/effra-700italic.woff') format('woff');
  font-display: swap;
}

/* Effra Heavy - 900 */
@font-face {
  font-family: 'Effra';
  font-weight: 900;
  font-style: normal;

  src: url('./files/effra-900.woff2') format('woff2'),
    url('./files/effra-900.woff') format('woff');
  font-display: swap;
}

/* Effra Heavy Italic - 900 */
@font-face {
  font-family: 'Effra';
  font-weight: 900;
  font-style: italic;

  src: url('./files/effra-900italic.woff2') format('woff2'),
    url('./files/effra-900italic.woff') format('woff');
  font-display: swap;
}
