.accordion {
	display: grid;
	gap: 20px;
	padding: 20px;

	background-color: #000000;

	&_item {
		display: block;
	}

	&_title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		padding: 20px;
		font-size: 18px;
		font-weight: 700;
		background-color: #484a5c;
		color: #ffffff;
		position: relative;
		z-index: 2;
	}

	&_content {
		padding: 20px;
		background-color: #383948;
		color: #ffffff;
		position: relative;
		z-index: 1;
		line-height: 1.4em;
	}
}
