.accordion {
	display: block;

	&_item {
		display: block;
	}

	&_title {
		display: block;
		cursor: pointer;
		user-select: none;
	}

	&_content {
		display: flex;
		flex-direction: column;
		overflow: hidden;

		&_inner {
			display: block;
		}
	}
}
